{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "*": "./src/*",
                    "@Config": "./src/Config",
                    "@Components": "./src/Components",
                    "@Navigation": "./src/Navigation",
                    "@NavigationTypes": "./src/NavigationTypes",
                    "@Screens": "./src/Screens",
                    "@Assets": "./src/Assets",
                    "@Redux": "./src/Redux"
                }
            }
        ]
    ]
}